
/* Functions:
 *
 * - clamp()
 * - drop-shadow()
 * - translateY()
 *
 * */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.projects h1 {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.text-section {
  width: 60vw;
}

#header {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
}

#personal-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#coordinates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#coordinates > span + span::before {
  content: "|";
  margin: 0 5px;
}

#socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#socials img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.education-entry, .experience-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

:is(.education-entry, .experience-entry) > :nth-child(even) {
  justify-self: end;
}

#project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border: 1px solid black;
  border-radius: 10px;

  /* fix the size */
  padding: 0 10px;
  width: 280px;
}

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 1px 4px 0 black;
}

.project-card h2 {
  text-align: center;
}
